In [1]:
import pandas as pd

In [6]:
drivers = pd.read_csv('f1db_csv/drivers.csv', usecols=['driverId', 'code', 'forename', 'surname', 'dob', 'nationality'])

In [7]:
drivers.head()

   driverId code  forename     surname         dob nationality
0         1  HAM     Lewis    Hamilton  1985-01-07     British
1         2  HEI      Nick    Heidfeld  1977-05-10      German
2         3  ROS      Nico     Rosberg  1985-06-27      German
3         4  ALO  Fernando      Alonso  1981-07-29     Spanish
4         5  KOV    Heikki  Kovalainen  1981-10-19     Finnish

In [9]:
driver_standings = pd.read_csv('f1db_csv/driver_standings.csv')

In [10]:
driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

### For each result, we are going to add a column called "adjusted_points" to account for the differences in point totals for multiple eras. This way, we can standardize and compare accurately.

In [17]:
def calculate_points(position):
    points_system = {1: 25, 2: 18, 3: 15, 4: 12, 5: 10, 6: 8, 7: 6, 8: 4, 9: 2, 10: 1}
    return points_system.get(position, 0)

In [18]:
driver_standings['adjustedPoints'] = driver_standings['position'].apply(calculate_points)

In [19]:
driver_standings.head()

,driverStandingsId,raceId,driverId,points,position,positionText,wins,adjustedPoints
0,1,18,1,10.0,1,1,1,25
1,2,18,2,8.0,2,2,0,18
2,3,18,3,6.0,3,3,0,15
3,4,18,4,5.0,4,4,0,12
4,5,18,5,4.0,5,5,0,10

In [20]:
columns_order = ['driverStandingsId', 'raceId', 'driverId', 'position', 'positionText',
                 'adjustedPoints', 'points', 'wins']
driver_standings = driver_standings[columns_order]

In [21]:
driver_standings.head()

,driverStandingsId,raceId,driverId,position,positionText,adjustedPoints,points,wins
0,1,18,1,1,1,25,10.0,1
1,2,18,2,2,2,18,8.0,0
2,3,18,3,3,3,15,6.0,0
3,4,18,4,4,4,12,5.0,0
4,5,18,5,5,5,10,4.0,0

In [22]:
driver_standings.to_csv('transformed_data/adjusted_driver_points.csv', index=False)