In [1]:
import pandas as pd

In [5]:
drivers = pd.read_csv('f1db_csv/drivers.csv', usecols=['driverId', 'code', 'forename', 'surname', 'dob', 'nationality', 'url'])

In [18]:
drivers

,driverId,code,forename,surname,dob,nationality,url
0,1,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...
856,858,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
857,859,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
858,860,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman
859,861,COL,Franco,Colapinto,2003-05-27,Argentinian,http://en.wikipedia.org/wiki/Franco_Colapinto
860,862,DOO,Jack,Doohan,2003-01-20,Australian,http://en.wikipedia.org/wiki/Jack_Doohan

In [11]:
results = pd.read_csv('f1db_csv/results.csv', usecols=['raceId', 'driverId', 'constructorId', 'positionText', 'positionOrder', 'points', 'rank'])

In [12]:
results.head(15)

    raceId  driverId  constructorId positionText  positionOrder  points rank
0       18         1              1            1              1    10.0    2
1       18         2              2            2              2     8.0    3
2       18         3              3            3              3     6.0    5
3       18         4              4            4              4     5.0    7
4       18         5              1            5              5     4.0    1
5       18         6              3            6              6     3.0   14
6       18         7              5            7              7     2.0    8
7       18         8              6            8              8     1.0    4
8       18         9              2            R              9     0.0    9
9       18        10              7            R             10     0.0   13
10      18        11              8            R             11     0.0   15
11      18        12              4            R             12     0.0   16
12      18        13              6            R             13     0.0    6
13      18        14              9            R             14     0.0   11
14      18        15              7            R             15     0.0   10

In [16]:
drivers.to_csv('transformed_data/driver_data.csv', index=False)

In [17]:
results.to_csv('transformed_data/result_data.csv', index=False)